* {
    margin: 0;
}
#userName, #roomName, #connect, #exit, #startGame, #gameTime {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
#userName, #roomName {
    width: 100px;
}
.back {
    position: absolute;
    top: 0;
    left: 0;
}

