/* 指针 */
html {
    cursor: url("../../pic/hand.ico"), auto;
}
.draw {
    position: fixed;
    width: 1px;
    line-height: 1px;
    pointer-events: none;
}
@keyframes floatOne {
    0% {opacity: 1;}
    50% {opacity: 1;}
    100% { opacity: 0; transform:translate3D(0, -20px, 0) scale(5) rotate(45deg);}
}
/* 背景图 */
.picBack {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-image: url("../../pic/Mercury.png");  */
    background-repeat: no-repeat;
    background-size: cover;
    /* -webkit-filter: blur(1px);
    filter: blur(1px); */
}
